{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="todoDetail"></div>
<div>
    <button class="todoUpdate">수정</button>
    <button class="todoDelete">삭제</button>
</div>
<script>    
document.addEventListener("DOMContentLoaded", init);

function init(){
    const pk = getTodoId();
    loadTodoDetail(pk);
    bindUpdateButton(pk); //버튼 이벤트 등록
    bindDeleteButton(pk);
}
 // pk 추출
function getTodoId(){
    return window.location.pathname.split('/').filter(Boolean).pop();
}
    //서버에서 todo 상세정보를 조회해서 핸더링 함수에 전달
function    loadTodoDetail(pk){
    axiosInstance
    .get(`/todo/viewsets/view/${pk}/`)
    .then(res => renderTodoDetail(res.data)) // 성공시 받은 렌더링을 함수로 전달 
    .catch(err => console.error('로딩실패', err));
}

// 받아온 todo 데이터를 화면에 랜더링(출력)
function    renderTodoDetail(data){
    const container = document.querySelector(".todoDetail");
        container.innerHTML = `
        <div class="Detail-item">
        <p><strong>Name:</strong> ${data.name}</p>
        <p><strong>Description:</strong> ${data.description}</p>
        <p><strong>Complete:</strong> ${data.complete}</p>
        <p><strong>Completed At:</strong> ${datetimeToString(data.completed_at)}</p>
        <p><strong>Experience Points:</strong> ${data.exp}</p>
        </div>
    `;

}
// 업데이트로 링크
function    bindUpdateButton(pk){
    const btn = document.querySelector(".todoUpdate");
    if (!btn) return
    btn.addEventListener('click', () => {
        window.location.href = `/todo/update/${pk}/`;

    });
    
}
// function    bindDeleteButton(pk){
//     const btn = document.querySelector(".todoDelete");
//     if (!btn) return;
//     btn.addEventListener('click', () => {
//         if (!confirm('정말 해당 todo를 삭제하시겠습니까?')) return;
//         axiosInstance
//         .delete(`/todo/api/delete/${pk}`)
//         .then(() => window.location.href = '/todo/list/') //성공 이후 리스트로 이동
//         .catch(() => alert("Todo 삭제에 실패했습니다.")); 
//     });

// }
function bindDeleteButton(pk){

    // 삭제버튼 클릭하면 삭제를 해라
    const btn = document.querySelector('.todoDelete');
    if (!btn) return;
    btn.addEventListener('click', () => {
        if (!confirm('정말 해당 todo를 삭제하시겠습니까?')) return; //UX접근
        //삭제요청보기 
        axiosInstance
            .delete(`/todo/viewsets/view/${pk}/`)
            .then(() => window.location.href = '/todo/list/') //성공 이후 리스트로 이동
            .catch(() => alert('Todo 삭제에 실패했습니다.')); 
    });
}
</script>


{% endblock %}